<div style="font-family: Arial, sans-serif; font-size: 16px; color: #333;">
    <p>Hi <strong>{{customerName}}</strong>,</p>
  
    <p>We wanted to let you know that your refund for order <strong>#{{orderId}}</strong> is currently being successfully processed.</p>
  
  
    <p>Please note that it may take 3–5 business days for the process to be completed.</p>
  
    <p>If you have any questions or concerns, feel free to reply to this email or contact us at 
    <a href="mailto:support@damicooks.com">support@damicooks.com</a>.</p>
  
    <p>Thank you for choosing <strong>Dami Cooks</strong>.</p>
  
    <br>
    <p>Best regards</p>
  </div>
  