<!DOCTYPE html>
<html>
<div style="font-family: Arial, sans-serif; font-size: 16px; color: #333;">
    <p>Hi <strong>{{customerName}}</strong>,</p>
  
    <p style="margin-top: 4px; margin-bottom:4px;">Thank you for signing up with DamiCooks! To complete your registration, please use the code below:</p>
  
  
    <p style="font-size: large; font-weight: 800; margin-bottom: 4px;">{{token}}</p>

    <p>This code will expire in 15 minutes. If you didn't request this, please ignore this email.</p>
          
    <p style="margin-top: 8px;">Thank you for choosing <strong>Dami Cooks</strong>.</p>
  
    <br>
    <p style="margin-top: 4px;">Best regards</p>
  </div>
</html>